
#canvas{
    border: 4px solid #4F200D;
    border-radius: 7px;
     background-image: url(slike/logorj.png);
    background-repeat: no-repeat;
    background-color: #FFD93D;
    background-size: 100%;
    background-position-y: center;
}
#kanvas{
    margin: auto;
    text-align: center;
}
body{
   background-color: #F6F1E9;
    
}