
#canvas{
    border: 4px solid #4F200D;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-image: url(Slike/logorj.png) !important;
    background-color: #FFD93D;
    background-size: 100%;
    background-position-y: center;
}
p{
    font-weight: bold;
    font-size: 2em;
    color: #4F200D;
}
#kanvas{
    margin: auto;
    text-align: center;
}
body{
   background-color: #F6F1E9;
    
}
.custom-title {
    color: #4F200D;
}
.custom-text {
    color: #4F200D;
}
.custom-confirm-button {
    padding: 10px 20px !important;
    background-color: #FF8400 !important;
    outline: 4px solid #fab566 !important;
}
.custom-icon-color {
    filter: hue-rotate(220deg) brightness(1) saturate(3) !important;
}